@page
@model TabApp.Pages_Person.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Person.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Person.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
