@page
@model TabApp.Pages_Repair.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Repair</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repair.AdmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.AdmissionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repair.IssueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.IssueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repair.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repair.Warranty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.Warranty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repair.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Repair.PickupCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Repair.PickupCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Repair.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
